body {
	margin: 0;
}

p{
	font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a{
  display: inline;
  float: left;
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.selected {
  background-color: #4CAF50;
}

li a:hover {
  background-color: #111;
}

button{
	display: flex;
	align-items: center;
	width: 100%;
}

h1{
	font-family: 'Roboto Slab', serif;
}

.option{
	float: left;
	width: 25%;
	position: relative;
}

.label{
	width: 100%;
	height: 25%;
	background-color: white;
	position:relative;
}

.tag{
	padding:0px;
	position: absolute;
	top: 10px;
	left: 10px;
}

img{
	width: 100%;
			vertical-align: top;
}