html, body{
	overflow: hidden;
}

h1{
	text-align: center;
	color: white;
	font-size: 2em;
}

.links {
	display:block;
	width:100%;
	text-align: center;
	margin:10px;
	font-size: 1.25em;
}

a{
	display: inline-block;
	color:white;
	text-decoration: none;
}

canvas{
	float: left;
}

.p5Canvas{
	float:left;
	overflow: hidden;
}
