h1{
	font-family: sans-serif;
	font-size: 4rem;
	margin: 0%;
}

h2{
	font-family: sans-serif;
	font-size: 2rem;
	margin: 0%;
}

img{
	width:3rem;
	height:auto;
	align-self: end;
}

img:hover{
	filter: brightness(80%);
}