:root {
    --main-color:#171a21;
    --text-color:#CEEFF3;
    --green:#2c570f;
    --green-two:#6bd425;
}



body, h1{
    background: var(--main-color);
    font: 2em "Arial";
    color: var(--text-color);
}

div{
  width: 50px;
  height: 50px;
}

#one{
  background: var(--green);
}

#two{
  background: var(--green-two);
}
#three{
  background: var(--text-color);
}
