html{
	background-color: #211C1F;
}

body {
	/* margin-right: 15%;
	margin-left : 15%; */
	background-color: #CAFAFE;
	overflow: hidden;
	margin: 0px;
}

p{
	font-family: 'Open Sans', sans-serif;
}

canvas{
	overflow: hidden;
	position: absolute;
}

.container{
	display: -webkit-flex;
	justify-content: flex-start;
    flex-wrap: wrap;
}

.option{
	border: none;
	width: 30%; 
    margin: 1em;
}

.option:hover{
	opacity: 80%;
}

.label{
	width: 100%;
	height: 25%;
	padding-top: 5%;
	padding-bottom: 5%;
	color: black;
	font-family: Ariel, sans-serif;
	font-size: 1em;
	position:relative;
}

.tag{
	text-align: center;
	text-decoration:none;
}

img{
	width: 100%;
	vertical-align: top;
}